Reset CSS * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    margin: 0%;
    height: 100%;
    width: 100%;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght'500.0;
    background-color: #0C0C0C;
    color: #FAF9F6;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid:
        "header" auto "body" 1fr / 1fr;
    gap: 8px;
    align-content: center;
}

header {
    grid-area: header;
    position: absolute;
    width: 100%;
}


.body {
    grid-area: body;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main {
    padding: 10vw;
    line-height: 2.1vw;
    flex-grow: 2;
}

.side {
    padding-right: 10vw;
    flex-grow: 1;
}

.side img {
    max-width: 15vw;
    height: auto;
    border: 2px solid #FAF9F6;
}

div h1 {
    font-family: "Gambetta-Variable", serif;
    font-size: 5vw;
    font-variation-settings: 'wght'700.0;
    letter-spacing: 1.2vw;
    margin: 0;
}

div p {
    font-size: 2vw;
    padding-top: 0.8em;
    margin: 0;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght'500.0;
}

ul li {
    display: inline;
    margin: 0 1vw;
}

ul li a {
    text-decoration: none;
    color: #FAF9F6;
    font-size: 2.5vw;
}

li a:hover {
    transition: 300ms;
    color: #ce93be;
}

@media only screen and (orientation: portrait) {
    .body {
        height: 100;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .side {
        padding-right: unset;
        flex-grow: unset;
        margin-top: 7vh;
        overflow: visible;
    }

    .main {
        padding: 8vw;
        line-height: 5.5vw;
        flex-grow: 1;
    }

    .side img {
        max-width: 35vw;
    }

    div p {
        font-size: 5vw;
        padding-top: 0.6em;
    }

    ul li a {
        font-size: 6vw;
    }
}