* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght'500;
    background-color: #0C0C0C;
    color: #FAF9F6;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid:
        "header" auto "body" 1fr / 1fr;
    gap: 8px;
    align-content: center;
}

header {
    grid-area: header;
    position: absolute;
    width: 100%;
}


.body {
    grid-area: body;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    margin: 10vw;
    min-height: 0%;
}

.side {
    padding-right: 10vw;
}

.side img {
    max-width: 15vw;
    border: 2px solid #FAF9F6;
}

h1 {
    font-family: "Gambetta-Variable", serif;
    font-size: 5vw;
    font-variation-settings: 'wght'700;
    letter-spacing: 1.2vw;
    margin: 0;
}

p {
    font-size: 1.5vw;
    line-height: 1.8vw;
    padding-top: 2vh;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght'500;
}

ul li {
    display: inline;
    margin: 0 1vw;
}

ul li a {
    text-decoration: none;
    color: #FAF9F6;
    font-size: 2.5vw;
}

li a:hover {
    transition: 300ms;
    color: #ce93be;
}

@media only screen and (orientation: portrait) {

    .container { 
        height: initial; 
    }

    .body {
        flex-direction: column-reverse;
        overflow: scroll;
    }

    .side {
        padding-right: unset;
        flex-grow: unset;
        margin-top: 16%;
    }

    .main {
        margin: 6vw 8vw 5vw;
        flex-grow: 1;
    }

    .side img {
        max-width: 30vw;
    }

    p {
        font-size: 4vw;
        line-height: 5.5vw;
        padding-top: 2vh;
    }

    ul li a {
        font-size: 6vw;
    }
}