Reset CSS * {
    margin    : 0%;
    padding   : 0%;
    box-sizing: border-box;
}

html, body {
    margin: 0%;
    height: 100%;
    width: 100%;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght' 500.0;
    background-color: #0C0C0C;
    color: #FAF9F6;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      / 1fr;
    gap: 8px;
    grid-auto-flow: column;
    align-content: center;
}

header {
    grid-area: header;
}


div {
    grid-area: main; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div h1 {
    font-family: "Gambetta-Variable", serif;
    font-size: 5vw;
    font-variation-settings: 'wght' 700.0;
    letter-spacing: 1.2vw;
    margin: 0;
}

div h1 a {
    text-decoration: none;
    color: #FAF9F6;
}

div h1 a:hover {
    transition: 300ms;
    color: #ce93be;
}

#email {
    padding-bottom: 7vh;
}

#bwah {
    padding-bottom: 1vh;
}

div p {
    font-size: 2vw;
    margin: 0;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght' 500.0;
}

ul li {
    display: inline;
    margin: 0 1vw;
}

ul li a {
    text-decoration: none;
    color: #FAF9F6;
    font-size: 2.5vw;
}

li a:hover {
    transition: 300ms;
    color: #ce93be;
}

/* portrait isnt perfect yet. mb change nav element layout dep. on orientation? */
@media only screen and (orientation: portrait) {
    div h1 {
        font-size: 10vw;
    }

    div p {
        font-size: 6vw;
    }

    #bwah {
        padding-bottom: 0vh;
    }

    ul li a {
        font-size: 6vw;
    }
  }