Reset CSS * {
    margin    : 0px 0;
    padding   : 0px 2px;
    box-sizing: border-box;
}

html, body {
    margin: 0%;
    height: 100%;
    width: 100%;
    font-family: 'Satoshi-Variable', sans-serif;
    background-color: #0C0C0C;
    color: #FAF9F6;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      / 1fr;
    gap: 8px;
}

/* sticky breaks */
header {
    align-self: start;
    grid-area: header;
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght' 500.0;
}

ul li {
    display: inline;
    margin: 0 1vw;
}

ul li a {
    text-decoration: none;
    color: #FAF9F6;
    font-size: 2.5vw;
}

li a:hover {
    transition: 300ms;
    color: #ce93be;
}

main {
    grid-area: main;
}

.grid-wrapper {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        "img1 ."
        ". img2"
        "img3 ."
        ". img4"
        "img5 ."
        ". img6"
        "img7 .";
    align-items: center;
    justify-items: center;
    row-gap: 10vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img1 { grid-area: img1; margin-left: 2vw;}
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; margin-left: 2vw;}
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }

footer div {
    margin-top: 7vh;
    margin-right: 2vw;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

@media only screen and (orientation: portrait) {

    ul li a {
        font-size: 6vw;
    }

    .grid-wrapper {  
        margin: 0 2vw; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    } 

    .img1 {
        margin: 0;
    }

    .img5 {
        margin: 0;
    }
  }