Reset CSS * {
    margin    : 0px 0;
    padding   : 0px 2px;
    box-sizing: border-box;
}

html, body {
    margin: 0%;
    height: 99%;
    width: 99%;
    font-family: 'Satoshi-Variable', sans-serif;
    background-color: #0C0C0C;
    color: #FAF9F6;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Satoshi-Variable', sans-serif;
    font-variation-settings: 'wght' 500.0;
    font-size: 2.5vw;
    line-height: 5vh;
}

nav a {
    text-decoration: none;
    color: #FAF9F6;
}

nav a:hover {
    transition: 300ms;
    color: #ce93be;
}

#name {
    font-family: "Gambetta-Variable", serif;
    font-variation-settings: 'wght' 500.0;
    letter-spacing: 1vw;
    padding-left: 2vw;
    font-size: 2vw;
}

#back {
    padding-right: 2vw;
}


.grid-wrapper {
    width: 100%;
    margin: -15vh 2vw;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        "img1 ."
        ". img2"
        "img3 ."
        ". img4"
        "img5 ."
        ". img6"
        "img7 .";
    align-items: center;
    justify-items: center;
    gap: 3vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }

footer div {
    margin-top: 7vh;
    margin-right: 2vw;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

@media only screen and (orientation: portrait) {


    nav {
        font-size: 5vw;
    }

    #name {
        font-size: 4vw;
    }

    .grid-wrapper {  
        margin: 0 2vw; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    } 
  }